{% extends 'base.html.twig' %}

{% block title %}Nouvelle Rubrique{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Rubrique</h1>

    {{ include('rubrique/_form.html.twig') }}

    <a href="{{ path('Rub_aff') }}" class="btn btn-primary">back to list</a>
{% endblock %}