{% extends 'base.html.twig' %}

{% block title %}Nouvelle User{% endblock %}

{% block body %}
    <h1>Créer un User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('App_aff_ref') }}" class="btn btn-primary">back to list</a>
{% endblock %}